/* color properties */

:root {
    --dark-gray: #666;
    --accent-color: greenyellow;
    --light-gray: gainsboro;
    --orange-gray: bisque;
    --floral: floralwhite;
    --beige: beige;
    --white: white;
}

body {
    background-color: transparent;
}

/* module header tags */

header {
    border-image: linear-gradient(to right, var(--dark-gray) 0%, transparent 125%);
    border-image-slice: 1;
    color: var(--white);
    font-size: 30px;
    height: 30px;
}

/* background */

.region.fullscreen.below {
    background-image: url("images/case.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* regions */

.region.top.right {
    top: inherit;
}

/* bottom-left */

.inner-container {
    display: flex;
}

/* clock module */

.clock .date {
    font-size: 30px;
    color: var(--accent-color);
}

.clock .time {
    font-size: 100px;
}

.clock .dimmed {
    color: var(--light-gray);
}

/* newsfeed module */

#source-title {
    border: 2px greenyellow;
    border-style: solid;
    padding: 4px 6px 4px 6px;
    margin-right: 2px;
}

#publish-date {
    color: var(--light-gray);
    padding: 6px;
}

.newsfeed {
    padding-right: 30px;
}

.newsfeed-source {
    display: flex;
    color: var(--accent-color);
    margin-bottom: 5px;
    margin-top: 18px;
}

.newsfeed-title {
    display: block;
    margin-top: 5px;
}

.newsfeed-desc {
    display: block;
    color: var(--orange-gray);
    margin-top: 5px;
}
