/* color properties */

:root {
    --dark-gray: #666;
    --accent-color: greenyellow;
    --alarm-background: darkslateblue;
    --light-gray: gainsboro;
    --orange-gray: bisque;
    --floral: floralwhite;
    --beige: beige;
    --white: white;
}

body {
    background-color: transparent;
}

/* module header tags */

header {
    border-image: linear-gradient(to right, var(--dark-gray) 0%, transparent 125%);
    border-image-slice: 1;
    color: var(--white);
    font-size: 30px;
    height: 30px;
}

/* background */

.region.fullscreen.below {
    background-image: url("images/case.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* regions */

.region.top.left {
    top: inherit;
}

.region.top.right {
    top: inherit;
}

.region.bottom.left {
    width: 75vw;
}

/* clock module */

.clock .date {
    font-size: 30px;
    color: var(--accent-color);
}

.clock .time {
    font-size: 100px;
}

.clock .dimmed {
    color: var(--light-gray);
}

/* calendar module */

#module_3_calendar .time.light {
    color: var(--floral);
}

/* newsfeed module */

#source-title {
    border: 2px var(--accent-color);
    border-style: solid;
    padding: 4px 6px 4px 6px;
    margin-right: 2px;
}

#publish-date {
    color: var(--light-gray);
    padding: 6px;
}

.newsfeed {
    padding-right: 30px;
}

.newsfeed-source {
    display: flex;
    color: var(--accent-color);
    margin-bottom: 5px;
    margin-top: 18px;
}

.newsfeed-title {
    display: block;
    margin-top: 5px;
}

.newsfeed-desc {
    display: block;
    color: var(--floral);
    margin-top: 5px;
}

#DAILYALARM {
    display: flex;
    flex-direction: column;
    gap: .7em;
    font-size: 1.3rem;
}

#DAILYALARM .text {
    color: white;
}

#DAILYALARM .time {
    color: lightgray;
}

#DAILYALARM .before {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1.3em 1em 1.3em 3em;
}

#DAILYALARM .before:first-of-type {
    background-color: var(--alarm-background);
    border-left: .5em solid rgba(65, 55, 126);
}

#DAILYALARM .after {
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1.3em 1em 1.3em 3em;
}

#DAILYALARM .after:first-of-type {
    background-color: var(--alarm-background);
    border-left: .5em solid rgba(65, 55, 126);
}
